{% extends 'base.html.twig' %}

{% block body %}
    <h4>créée par <b>{{ task.user.username|default('anonymous user') }}</b></h4>
    <div class="row col-sm-12">
        {{ form_start(form, {'action' : path('task_edit', { 'id' : task.id })}) }}
            {{ form_widget(form) }}

            <button type="submit" class="btn btn-success pull-right">Modifier</button>
        {{ form_end(form) }}
    </div>
{% endblock %}
